<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
      <title>Maps Map</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link href="https://unpkg.com/treeflex/dist/css/treeflex.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
.example .tf-nc {
  /* css here */
}
.tf-custom .tf-nc:before,
.tf-custom .tf-nc:after {
  /* css here */
}
.tf-custom li li:before {
  /* css here */
}

</style>
    
    
    
    </head>


  
  <body>
      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
           
            <div class="tf-tree example">
                <ul>
                  <li>
                    <span class="tf-nc">1</span>
                    <ul>
                      <li>
                        <span class="tf-nc">2</span>
                        <ul>
                          <li><span class="tf-nc">4</span></li>
                          <li>
                            <span class="tf-nc">5</span>
                            <ul>
                              <li><span class="tf-nc">9</span></li>
                              <li><span class="tf-nc">10</span></li>
                            </ul>
                          </li>
                          <li><span class="tf-nc">6</span></li>
                        </ul>
                      </li>
                      <li>
                        <span class="tf-nc">3</span>
                        <ul>
                          <li><span class="tf-nc">7</span></li>
                          <li><span class="tf-nc">8</span></li>
                          <li><span class="tf-nc">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Panel with panel-primary class</div>
                                <div class="panel-body">Panel Content</div>
                              </div> 
                            </span>
                        
                        </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

         
          
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

   
           
  
         
    
      
      
  </body>

</html>